#all {
	font-family: Lato;
	font-weight:300;
}

#main-heading {
	font-weight:300;
	line-height: 20px;
}

#main-heading #title {
	font-size: 70px;
}
#main-heading #subtitle {
	font-size: 15px;
	color: grey;
	padding-left: 15px;

}

#special {
	color: orange;
}
#tweet-box {
	line-height: 5px;
}


#tweet-btn {
	font-weight:300;
}

#tweet-area {
	resize: none;
}

.orangey {
	color: orange;
}
.indent {
	padding-left: 60px;
}
#recommendation {
	font-size: 30px;
}



a.null-link:link
{
   color: orange;
   text-decoration: none;
}
a.null-link:visited
{
   color: orange;
   text-decoration: none;
}
a.null-link:hover
{
   color: orange;
   text-decoration: underline;
}
a.null-link:active
{
   color: orange;
   text-decoration: none;
}